<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ABM Rest Crud Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="main.ctrl.js"></script>
</head>
<body ng-app="myapplication" ng-controller="MainController">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h1>{{main.title}}</h1>

			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">			

				<h3>Lista de sarasa</h3>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-search"></span>
					</span>
					<input type="text" class="form-control" ng-model="searchInput">
				</div>
				<hr>

				<ul class="list-group">
					<li class="list-group-item" ng-repeat="user in users | filter: searchInput">

						<span>Nombre: {{user.name}}</span><br>
						<span>email: {{user.email}}</span>
						<button class="btn btn-danger pull-right"> 
							<span class="glyphicon glyphicon-minus-sign" ng-click="removeUser(user)"> Delete {{user.user_id}}</span>
						</button>
						<br>
						<span>Apellido: {{user.password}}</span><br>
						<pre>
							{{user}}
						</pre>



					</li>
				</ul>
			</div>
			<div class="col-lg-4">			
				<h3>Agregar nuevo User</h3>
				<form  name="data" class="form"  ng-submit="addUser()">
					<div class="form-group">
						<label for="">Nombre</label>
						<input type="text" class="form-control" ng-model="formData.name" required>
					</div>
					<div class="form-group">
						<label for="">Email</label>
						<input type="email" class="form-control" ng-model="formData.email" required>
					</div>
					<div class="form-group">
						<label for="">Password</label>
						<input type="password" class="form-control" ng-model="formData.password" required>
					</div>
					<!--pre class=" col-xs-12 pull-right">
						{{formData}}
					</pre-->
					<div class="col-xs-12">
						<button class="btn btn-success pull-right"> <span class="glyphicon glyphicon-plus-sign"> Add</span></button>
					</div>				 
				</form>
			</div>
			<div class="col-lg-4">		
				<h3>Buscar Usuario por id</h3>
				<br>
				<div class="input-group">
					<input type="text" class="form-control" ng-model="user_id">
					<span class="input-group-btn">
						<button class="btn btn-primary"   ng-click="getUserbyId()" >Find</button>
					</span>

				</div>
			<div>

			<div>
				<br><br>
				<form name="dataupdate" class="form"  ng-submit="updateUser()">
					<input type="hidden" class="form-control" ng-model="updateable.user_id" disabled>
				<input type="text" class="form-control" ng-model="updateable.name" required>
				<input type="email" class="form-control" ng-model="updateable.email" required>
				<input type="text" class="form-control" ng-model="updateable.password" required>

				<br>
				<div class="col-xs-12">
					<button class="btn btn-info btn-large btn-block"> Update</span></button>
				</div>	
			</form>
			</div>

</div><!--row-->
</div>

</body>
</html>